/* universaalit tyylit */
* {
margin: 0;
padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: white;

}

#content {
    display: flex;
    flex-flow: row wrap;
    flex: 1 100%;
    max-width: 960px;
    background-color: white;
}

header, main, article, section, aside, footer, nav {
    flex: 1 100%;
}

header {
background-color: #E898C2;
text-align: center;
}

main {
background-color: #E89C98;
text-align: justify;
}

article {
background-color: #FFB4A7;
}

section {
background-color: #FFB4C2;
text-align: justify;
}

aside {
background-color: #FFADF4;
text-align: justify;
}

footer {
background-color: #FFDFEA;
}

nav {
background-color: #FF77AF;
}

ul {
list-style-type: none;
padding: 0;
text-align: center;
font-size: 1.5em;
}

li {
text-align: center;
display: inline;
}

h1, h2, h3 {
font-family: monospace;
text-align: center;
font-size: 1.8em;
}

a {
text-decoration-style: dotted;
}


/* mobiilityylit */
@media only screen and (max-width: 400px) {
    
}


/* tablettityylit */
@media only screen and (min-width: 401px) and (max-width: 959px) {
    article {
        flex: 1 auto;
        width: 48%;
        padding: 0 1% 0 1%;        
    }
}


/* desktoptyylit */
@media only screen and (min-width: 960px) {
    main {
        padding: 0 1% 0 1%;
    }
    
    article {
        flex: 20%;
        padding: 0 1% 0 1%;
    }
    
    aside {
        order: 1;
        flex: 1 48%;
        padding: 0 1% 0 1%;
    }
    
    section {
        flex: 1 48%;
        padding: 0 1% 0 1%;
    }
    
    footer {
        order: 2;
    }
}